/*index css*/
.title-card{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:0;
    height:600px;
    background-color:#013220;
}

.left-title{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    align-content:center;
    height:600px;
    color:white;
    font-family:Arial;
    text-align:center;
    
}

h1{
    font-size:50px;
    font-weight:lighter;
}

.navindex{
    list-style-type:none;
    margin-right:2em;
}

.indli{
    text-decoration:none;
    color:white;
    font-size:25px;
}

.indli:hover{
    text-decoration:none;
    color:#000906;
}

.daisy{
    height:600px;
    width:fit-content;
}

@media (max-width:1024px){

    .title-card{
        display:grid;
        grid-template-rows:1fr 1fr;
        grid-template-columns:1fr;
        gap:0px;
        max-width:fit-content;
        background-color:#013220;
    }

    .daisy{
        max-width:100%;
        height:fit-content;
    }


}

/*general css*/

.me{
    border:5px #013220 solid;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    color:#000906;
}

/*projects css*/

.btn{
    background-color:#013220;
    color:white;
}

.btn:hover{
    background-color:white;
    color:#000906;
    border:solid 2px #000906;
}

.proj-cards{
    margin-top:5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:20px;
    justify-content:space-evenly;
    align-items:center;
    justify-items:center;
}

.card-img-top{
    border:3px solid #013220;
    border-bottom:none;
}

.card-body{
    border:3px solid #013220;
}

@media (max-width:700px){
    .proj-cards{
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr 1fr;
    }
}


/*resume css*/

.resume{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:4rem;
    margin-left:20px;
    margin-right:20px;
}

h4{
    text-decoration-line:underline;
}

.resucard{
    border:5px solid #013220;
}

.resucard > p{
    margin-left:10px;
    margin-right:10px;
}

.resucard > h4{
    margin-top:5px;
    margin-left:10px;
}

.bottom{
    margin-top:20px;
}

@media (max-width:700px){
    .resume{
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr 1fr;
        gap:50px;
    }
}
