/*decision button css*/
.decision{
    text-align:center;
    margin:auto;
    padding:10px;
    padding-bottom:30px;
    background-color:rgb(228, 227, 227);
    height:100px;
    width:300px;
    border-radius:20px;
}

.reddec{
    background-color:red;
    height:40px;
    width:70px;
}


.greendec{
    background-color:green;
    height:40px;
    width:70px;
}

.decbutton{
    text-decoration:none;
    color:white;
    font-size:20px;
}

.button{
    border-radius:20px;
    border:none
}

.button:hover{
    background-color:black;
}



/*index css*/


div.home{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    margin-top:150px;
    margin-left:100px;
    margin-right:50px;
}

a.home{
    display:grid;
    border:none;
    background-color:rgb(0, 70, 0);
    font-size:40px;
    border-radius:50%;
    height:170px;
    width:170px;
    margin:auto;
    text-decoration:none;
    color:white;
    align-content:center;
    justify-items:center;
}

a.home:hover{
    background-color:rgb(3, 126, 3);
    color:rgb(0, 35, 0);
    font-size:50px;
    height:200px;
    width:200px;
}

h1.home{
    font-size:60px;
}

p.home{
    font-size:22px;
}

/*error screen CSS*/

h1.error{
    text-align:center;
    color:red;
    font-size:70px;
    margin-top:200px;
}

h2.error{
    text-align:center;
    color:rgb(156, 3, 3);
    font-size:30px;
}

/*final css*/

.final-heading{
    text-align:center;
}

.final-heading > h1{
    font-size:70px;
}

.final{
    display:grid;
    grid-template-columns:1fr 1fr;
    justify-items:center;
    margin-right:20px;
}

.final > div{
    background-color:rgb(193, 193, 208);
    padding:20px;
    border-radius:20%;
}
